NodeRedIot.json
[
    {
        "id": "e359d31ce85ecfbb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2fcb0d34247ec049",
        "type": "mqtt in",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "631b84880407463b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "eaa4c6825e9d024a"
            ]
        ]
    },
    {
        "id": "c44142dada0af507",
        "type": "mqtt in",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "631b84880407463b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "bbdce89130aada62"
            ]
        ]
    },
    {
        "id": "c30e529f13eeb931",
        "type": "mqtt in",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "motor/State",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "631b84880407463b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "c2dc6ab5bd3adf24"
            ]
        ]
    },
    {
        "id": "c49734bfe0eb0eea",
        "type": "mqtt in",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "motor/StateStr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "631b84880407463b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "0e2547f88c73828c"
            ]
        ]
    },
    {
        "id": "0e2547f88c73828c",
        "type": "ui_text",
        "z": "e359d31ce85ecfbb",
        "group": "",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "State",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "eaa4c6825e9d024a",
        "type": "ui_gauge",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "group": "0b2f2a294cab6e90",
        "order": 22,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffd500",
            "#db6300",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "bbdce89130aada62",
        "type": "ui_gauge",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "group": "0b2f2a294cab6e90",
        "order": 20,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#9eb6ff",
            "#3eabfe",
            "#00fbff"
        ],
        "seg1": "150",
        "seg2": "300",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "c2dc6ab5bd3adf24",
        "type": "ui_led",
        "z": "e359d31ce85ecfbb",
        "order": 4,
        "group": "",
        "width": 3,
        "height": 1,
        "label": "Motor",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "caea8fd4c3cfb123",
        "type": "ui_slider",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "0b2f2a294cab6e90",
        "order": 12,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "7355ee60166e12b0",
                "3f5cbcfbd8e785e7"
            ]
        ]
    },
    {
        "id": "3f88eaaa14f882c4",
        "type": "ui_switch",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "0b2f2a294cab6e90",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Manual",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "58150116f44f22b5",
                "2eca417d7db2827c",
                "5280a44d8a7e94fd"
            ]
        ],
        "info": "fgerfg"
    },
    {
        "id": "043f6bb363f897c3",
        "type": "ui_button",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "group": "0b2f2a294cab6e90",
        "order": 30,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "c4e56099f21a4e1a"
            ]
        ]
    },
    {
        "id": "13113b01675ea902",
        "type": "ui_button",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "group": "0b2f2a294cab6e90",
        "order": 28,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 280,
        "wires": [
            [
                "849b38b01613ba90"
            ]
        ]
    },
    {
        "id": "c4e56099f21a4e1a",
        "type": "mqtt out",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "open",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "631b84880407463b",
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "2eca417d7db2827c",
        "type": "ui_led",
        "z": "e359d31ce85ecfbb",
        "order": 7,
        "group": "0b2f2a294cab6e90",
        "width": 3,
        "height": 1,
        "label": "Manual",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Manual",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "Auto",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "58150116f44f22b5",
        "type": "ui_led",
        "z": "e359d31ce85ecfbb",
        "order": 5,
        "group": "0b2f2a294cab6e90",
        "width": 3,
        "height": 1,
        "label": "Auto",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Auto",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "Manual",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "4cf2ebc080027774",
        "type": "ui_switch",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "label": "Auto Light",
        "tooltip": "",
        "group": "0b2f2a294cab6e90",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Light",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "c77808c5c40f5b36",
                "9fa3ec620b8b5b32"
            ]
        ]
    },
    {
        "id": "b0a6b715fcf681bb",
        "type": "ui_led",
        "z": "e359d31ce85ecfbb",
        "order": 19,
        "group": "0b2f2a294cab6e90",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Temp",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "c77808c5c40f5b36",
        "type": "ui_led",
        "z": "e359d31ce85ecfbb",
        "order": 17,
        "group": "0b2f2a294cab6e90",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Light",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "d221c67c72f12832",
        "type": "ui_switch",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "label": "Auto Temp",
        "tooltip": "",
        "group": "0b2f2a294cab6e90",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Temp",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "b0a6b715fcf681bb",
                "9fa3ec620b8b5b32"
            ]
        ]
    },
    {
        "id": "62d60122c158882b",
        "type": "ui_text",
        "z": "e359d31ce85ecfbb",
        "group": "0b2f2a294cab6e90",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Select Mode",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "7355ee60166e12b0",
        "type": "ui_text",
        "z": "e359d31ce85ecfbb",
        "group": "0b2f2a294cab6e90",
        "order": 13,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} %",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "725f14de1e35d6a2",
        "type": "ui_text",
        "z": "e359d31ce85ecfbb",
        "group": "0b2f2a294cab6e90",
        "order": 11,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "OpenCurtain",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "5280a44d8a7e94fd",
        "type": "mqtt out",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "setup/mode",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "631b84880407463b",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "9fa3ec620b8b5b32",
        "type": "mqtt out",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "setup/automode",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "631b84880407463b",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "3f5cbcfbd8e785e7",
        "type": "mqtt out",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "slider/curtain",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "631b84880407463b",
        "x": 1050,
        "y": 200,
        "wires": []
    },
    {
        "id": "849b38b01613ba90",
        "type": "mqtt out",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "close",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "631b84880407463b",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "06aab5ee4e2dbb7b",
        "type": "mqtt out",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "slider/light",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "631b84880407463b",
        "x": 1040,
        "y": 460,
        "wires": []
    },
    {
        "id": "b7c01d218f522838",
        "type": "ui_slider",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "label": "Set_Light",
        "tooltip": "",
        "group": "0b2f2a294cab6e90",
        "order": 24,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "300",
        "step": 1,
        "className": "",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "bd40be03115ac28f",
                "06aab5ee4e2dbb7b"
            ]
        ]
    },
    {
        "id": "bd40be03115ac28f",
        "type": "ui_text",
        "z": "e359d31ce85ecfbb",
        "group": "0b2f2a294cab6e90",
        "order": 25,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} lux",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "507a7c986dcad4b7",
        "type": "ui_text",
        "z": "e359d31ce85ecfbb",
        "group": "0b2f2a294cab6e90",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "d7e72a3b154259ab",
        "type": "ui_text",
        "z": "e359d31ce85ecfbb",
        "group": "0b2f2a294cab6e90",
        "order": 27,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} °C",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "baf3b8c93316780c",
        "type": "mqtt out",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "slider/temp",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "631b84880407463b",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "23d9aef90bd97c68",
        "type": "ui_slider",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "label": "Set_Teme",
        "tooltip": "",
        "group": "0b2f2a294cab6e90",
        "order": 26,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 780,
        "y": 580,
        "wires": [
            [
                "d7e72a3b154259ab",
                "baf3b8c93316780c"
            ]
        ]
    },
    {
        "id": "aae2102fe8e05649",
        "type": "ui_text",
        "z": "e359d31ce85ecfbb",
        "group": "0b2f2a294cab6e90",
        "order": 16,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Temp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "db9a65ea90d1514b",
        "type": "mqtt in",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "Modes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "631b84880407463b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "58150116f44f22b5",
                "2eca417d7db2827c"
            ]
        ]
    },
    {
        "id": "27fcc8a416de0ee5",
        "type": "mqtt in",
        "z": "e359d31ce85ecfbb",
        "name": "",
        "topic": "Modes/ligh/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "631b84880407463b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "c77808c5c40f5b36",
                "b0a6b715fcf681bb"
            ]
        ]
    },
    {
        "id": "8f2ca97daa511f58",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "fd8f2f493ae6a318",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d88067a484339d7a",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "227306bc5b638c0a",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "dfa5881bca050eed",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "399be02765823383",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "6ef4ba8e08b0292d",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "c916b2152250a320",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "a02512908f336409",
        "type": "ui_spacer",
        "z": "e359d31ce85ecfbb",
        "name": "spacer",
        "group": "0b2f2a294cab6e90",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "631b84880407463b",
        "type": "mqtt-broker",
        "name": "CloudMqtt",
        "broker": "56824c794ef94d4bbf19f1bc738d03ad.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "01aef48d171a6d00",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b2f2a294cab6e90",
        "type": "ui_group",
        "name": "IOT_Project_KKU",
        "tab": "67676042d38b8f85",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01aef48d171a6d00",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "67676042d38b8f85",
        "type": "ui_tab",
        "name": "IOT_Project_KKU",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]